body{
    background-image: url("../images/ice_cream.png");


    aspect-ratio: auto ;

}
h1 {
    font-family: Forte;
    color: dodgerblue;
}
.card-header{
    background-color: magenta;
}
.description{
   color: dodgerblue;
   font-family: "Comic Sans MS";
}
.navbar-brand{

}

